.terminar {
    background-color: #000;
    color: #fff;
    justify-content: center;
    height: 2.5rem;
    line-height: 35px;
    align-items: center;
    font-size: 1.2rem;
    border: 2px solid #ff8c00;
    cursor: pointer;
    display: flex;
    text-align: center;
}

.terminar:hover {
    background-color: #ff8c00;
    color: #fff;
}

.terminar0 {
    text-align: center;
    justify-content: center;
    display: flex;
    
}

.contenedorTerminar {
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

