.imgCarrito {
    float: right;
    margin-right: 30px;
    display: flex;
    background-color: #ff8c00;
    width: 100px;
    height: 60px;
    border-radius: 20%;
}

.imgCarrito_ {
    width: 50px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.cantidad {
    color: #000;
    display: flex;
    align-items: end;
    margin-right: 15px;
    
}

.hidden {
    display: none;
  }